# Set default behavior to automatically normalize line endings
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout
*.java text diff=java
*.gradle text
*.properties text
*.json text
*.md text
*.txt text
*.yml text
*.yaml text

# Declare files that will always have CRLF line endings on checkout
*.bat text eol=crlf

# Declare files that will always have LF line endings on checkout
gradlew text eol=lf
*.sh text eol=lf

# Denote all binary files
*.jar binary
*.png binary
*.jpg binary
*.ico binary
*.zip binary
